<div class="jumbotron">
    <div class="container">
        <h1>Рецептите на мама</h1>
        <p>Това са рецептите на мама които ние всички <del>обичаме</del> ОБОЖАВАМЕ ;)</p>
        </p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a ng-click="filt = ''"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></a></li>
            <li><a ng-click="filt = ''">      Всички</a></li>
            <li><a ng-click="filt = 'soleno'">Солени</a></li>
            <li><a ng-click="filt = 'sladko'">Сладки</a></li>
            <li><a ng-click="filt = 'mandji'">Манджички </a></li>
        </ul><br><br>
        <hr style="border: 1px solid maroon">
    </div>
    <div class="row">
        <div class="col-md-4" ng-repeat="dat in data | filter: filt">
            <div class="thumbnail">
                <h3>{{dat.hl}}</h3>
                <img src="{{dat.img}}" width="100%" alt="{{dat.hl}}">
                <div class="caption">
                    <p>{{dat.desc}}</p>
                    <p><a href="#/{{dat.id}}" class="btn btn-danger" role="button">Забъркай</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
