<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Рецептите на мама</h1>
        <p>Това са рецептите на мама които ние всички <del>обичаме</del> ОБОЖАВАМЕ ;)</p>
<!--         <p><a class="btn btn-warning btn-lg" role="button" href="#recepies" id="recepies">Разгледай &raquo;</a> -->
        </p>
    </div>
</div>

<div class="container">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">Всички</a></li>
            <li><a href="#" ng-click="count = count + 1">Солени</a></li>
            <li><a href="#">Сладки {{count}}</a></li>
            <li><a href="#">Ястия </a></li>
            <!--li><input type="text" ng-model="filt"></li-->
        </ul>
    </div>
    <!-- Example row of columns -->
    
    <div class="row">
        <div class="col-md-4" ng-repeat="dat in data | filter: filt">
            <div class="thumbnail">
                <h3>{{dat.hl}}</h3>
                <img src="{{dat.img}}" width="100%" alt="{{dat.hl}}">
                <div class="caption">
                    <p>{{dat.desc}}</p>
                    <p><a href="#/{{dat.id}}" class="btn btn-danger" role="button">Забъркай</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
